#set($page_title='Hello')

#define($content)
<form action="j_spring_security_check" method="post">
    <table>
		<tr>
            <td>#springMessage("email") :</td>
            <td><input type='text' name='j_username' value=''></td>
        </tr>
        <tr>
            <td>#springMessage("password") :</td>
            <td><input type='password' name='j_password' /></td>
        </tr>
        <tr>
			<td colspan="2"><input type="submit" /></td>
        </tr>
	</table>
</form>
#end